<div>
  <%= form_with(model: @task, local: true) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.submit "作成" %>
  <% end %>
</div>
<div>
  <h2>未着手</h2>
  <div data-controller="tasks">
    <% @tasks_not_yet.each do |task| %>
      <%= form_with(model: task) do |f| %>
        <%= f.check_box :complete, data: {
          id: task.id,
          action: "tasks#toggle"
        } %>
        <%= task.title %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="pt-5">
  <h2>終了</h2>
  <div data-controller="tasks">
    <% @tasks_done.each do |task| %>
      <%= form_with(model: task) do |f| %>
        <%= f.check_box :complete, checked: true, data: {
          id: task.id,
          action: "tasks#toggle"
        } %>
        <%= task.title %>
      <% end %>
    <% end %>
  </div>
</div>