<div>
  <h2 class="text-3xl pb-8"><%= @project.title %></h2>
  <div class="grid grid-cols-2">
    <div>
      <%= form_with url: list_update_path do |f| %>
        <%= f.text_field :title %>

        <%= f.hidden_field :id, :value => params[:id] %>
        <%= f.submit "追加" %>
      <% end %>
      <h2>タスクリスト一覧</h2>
      <ul>
        <% @project.lists.each do |list| %>
          <li class="pt-5 text-blue-500">
            <%= link_to(list.title, list_path(list)) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <%= form_with url: user_update_path do |f| %>
        <%= f.select(:email, @not_have_user_emails, include_blank: true) %>

        <%= f.hidden_field :id, :value => params[:id] %>
        <%= f.submit "追加" %>
      <% end %>
      <h2>ユーザー一覧</h2>
      <ul>
        <% @project.users.each do |user| %>
          <li class="pt-5 text-blue-500">
            <%= link_to(user.name, profile_path) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>