<!DOCTYPE html>
<html>
<head>
  <title>HackathonOrin</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header>
  <% if current_user %>
    <div class="flex">
      <%= link_to("#{current_user.name}", user_path(current_user), class: "px-5") %>
      <%= link_to('プロジェクト一覧', projects_path, class: "text-blue-500 px-5") %>
      <%= button_to "ログアウト", signout_path, method: :delete, class: "text-blue-500 inline px-5" %>
    </div>
  <% end %>
</header>
<main class="container mx-auto mt-28 px-5">
  <% flash.each do |message_type, message| %>
    <% if message_type == 'danger' %>
      <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800"><%= message %></div>
    <% elsif message_type == 'success' %>
      <div class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800"><%= message %></div>
    <% end %>
  <% end %>
  <%= yield %>
</main>
</body>
</html>
